:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a;
  background-color: #ffffff;
  --bg-primary : #DC3543 !important;
  --bg-black : #000!important;
  --bg-gray  : #f3f0f0;
 
}


a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: none!important;
}

ul,
li {
  list-style: none;
  padding: 0!important;
  margin: 0!important;
}


body {
  margin: 0;
  min-height: 100vh;
}

.text-red {
  color: var(--bg-primary)!important;
}

.bg-red {
  background-color:  var(--bg-primary)!important;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.category-slider {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

.category-slider::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari */
}

.category-btn {
  flex: 0 0 auto;
  margin: 0 10px;
  padding: 8px 16px;
  border: 1px solid var(--bg-primary) !important;
  border-radius: 20px;
  background-color: white;
  color: var(--bg-primary);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background-color: var(--bg-primary);
  color: white;
}
.active-link {
  color: var(--bg-primary) !important;
  font-weight: bold;
}
.manu-sidebar ul li {
  transition: 0.3s ease-in-out;
}

.manu-sidebar ul li:hover {
  background-color:var(--bg-primary);
}

.manu-sidebar ul a:hover  {
  color: white !important;
}

.footer-cat  li:hover a {
  color: var(--bg-primary) !important;
}